<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript">
			window.apiKey = "{{ apiKey }}";
			window.shopOrigin = "{{ shop }}";
			window.appDomain = "{{ appDomain }}";
			window.host = "{{host}}"
		</script>
	</head>
	<body>
		<div id="root"></div>
		<script src="../bundle.js"></script>
	</body>
</html>